In [8]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import numpy.random as random
import scipy as sp
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

from datetime import datetime

sns.set()
%matplotlib inline

In [64]:
df_all = pd.read_csv('part_all.csv')
df_1 = pd.read_csv('part1.csv')
df_2 = pd.read_csv('part2.csv')
df_3 = pd.read_csv('part3.csv')

In [76]:
col_all = df_all.columns.tolist()
#col_all

In [77]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 77 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  3770 non-null   object
 1   shop                  3769 non-null   object
 2   male                  3799 non-null   object
 3   class_date            3799 non-null   object
 4   class_area            3799 non-null   object
 5   score                 3716 non-null   float64
 6   age_n                 3748 non-null   float64
 7   age_random            3748 non-null   float64
 8   education             3799 non-null   int64
 9   highschool            3799 non-null   int64
 10  university            3799 non-null   int64
 11  graduate              3799 non-null   int64
 12  tenure_n              3691 non-null   float64
 13  tenure_random         3691 non-null   float64
 14  staff_n               3722 non-null   float64
 15  staff_random          3722 non-null   float64
 16  license               3799 non-null   int64
 17  ask_electric          3744 non-null   float64
 18  m_new_n               3499 non-null   float64
 19  m_new_random          3499 non-null   float64
 20  m_fix_n               2982 non-null   float64
 21  m_fix_random          2982 non-null   float64
 22  area_n                3799 non-null   int64
 23  area_m                3799 non-null   int64
 24  area_s                3799 non-null   int64
 25  area_e                3799 non-null   int64
 26  area_i                3799 non-null   int64
 27  type_g                3799 non-null   int64
 28  type_e                3799 non-null   int64
 29  brand1                3799 non-null   int64
 30  brand2                3799 non-null   int64
 31  brand3                3799 non-null   int64
 32  brand4                3799 non-null   int64
 33  brand5                3799 non-null   int64
 34  brand6                3799 non-null   int64
 35  brand7                3799 non-null   int64
 36  brand8                3799 non-null   int64
 37  area                  3799 non-null   object
 38  knowledge             3799 non-null   int64
 39  skill                 3799 non-null   int64
 40  question              3799 non-null   int64
 41  atmosphere            3799 non-null   int64
 42  structure             3799 non-null   int64
 43  difficulty            3799 non-null   int64
 44  practicality          3799 non-null   int64
 45  hours                 3799 non-null   int64
 46  train_time            3799 non-null   int64
 47  train_environment     3799 non-null   int64
 48  train_administration  3799 non-null   int64
 49  practical             3799 non-null   int64
 50  expectation           3799 non-null   int64
 51  worthy                3799 non-null   int64
 52  merit                 3799 non-null   int64
 53  satisfaction          3799 non-null   int64
 54  enhance               3799 non-null   int64
 55  applicable            3799 non-null   int64
 56  problem_solve         3799 non-null   int64
 57  other_field           3799 non-null   int64
 58  sell_g_less           3799 non-null   int64
 59  fix_g_less            3799 non-null   int64
 60  fix_g_upgrade         3799 non-null   int64
 61  fix_e_upgrade         3799 non-null   int64
 62  recruit               3799 non-null   int64
 63  franchise_cost        3799 non-null   int64
 64  decorate_cost         3799 non-null   int64
 65  fix_g_lesson          3799 non-null   int64
 66  fix_e_lesson          3799 non-null   int64
 67  franchise             3799 non-null   int64
 68  manage                3799 non-null   int64
 69  decorate              3799 non-null   int64
 70  exp_share             3799 non-null   int64
 71  component             3799 non-null   int64
 72  charge                3799 non-null   int64
 73  social_media          3799 non-null   int64
 74  cross_industry        3799 non-null   int64
 75  financing             3799 non-null   int64
 76  insurance             3799 non-null   int64
dtypes: float64(12), int64(59), object(6)
memory usage: 2.2+ MB

In [78]:
df_1.describe()

,score,age_n,age_random,education,highschool,university,graduate,tenure_n,tenure_random,staff_n,...,type_g,type_e,brand1,brand2,brand3,brand4,brand5,brand6,brand7,brand8
count,3698.000000,3706.000000,3706.000000,3757.000000,3757.000000,3757.000000,3757.000000,3649.000000,3649.000000,3680.000000,...,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000
mean,92.931585,3.248516,39.299514,1.170349,0.864253,0.288528,0.017567,4.725678,16.000000,1.740217,...,0.973383,0.666755,0.265371,0.217195,0.335108,0.001863,0.011978,0.030077,0.036199,0.010913
std,9.315956,1.037504,11.175759,0.669385,0.342565,0.453138,0.131389,1.343479,10.534639,0.772884,...,0.160983,0.471436,0.441589,0.412391,0.472091,0.043130,0.108799,0.170822,0.186810,0.103907
min,16.000000,1.000000,18.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.000000,3.000000,31.000000,1.000000,1.000000,0.000000,0.000000,4.000000,8.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,96.000000,3.000000,38.000000,1.000000,1.000000,0.000000,0.000000,5.000000,14.000000,2.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,100.000000,4.000000,46.000000,2.000000,1.000000,1.000000,0.000000,6.000000,23.000000,2.000000,...,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,100.000000,5.000000,80.000000,3.000000,1.000000,1.000000,1.000000,7.000000,56.000000,6.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [79]:
df_2.describe()

,knowledge,skill,question,atmosphere,structure,difficulty,practicality,hours,train_time,train_environment,train_administration,practical,expectation,worthy,merit,satisfaction,enhance,applicable,problem_solve,other_field
count,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000
mean,1.449295,1.428267,1.432526,1.420814,1.319138,1.263242,1.277615,1.250466,1.252063,1.315677,1.343359,1.224381,1.137077,1.188182,1.224913,1.217461,1.169284,1.197232,1.123237,1.232632
std,0.736177,0.738764,0.736639,0.749812,0.796082,0.814645,0.824842,0.831251,0.839059,0.786536,0.771750,0.795663,0.850735,0.832953,0.808460,0.811810,0.837159,0.820538,0.864940,0.800140
min,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [80]:
df_3.describe()

,sell_g_less,fix_g_less,fix_g_upgrade,fix_e_upgrade,recruit,franchise_cost,decorate_cost,fix_g_lesson,fix_e_lesson,franchise,manage,decorate,exp_share,component,charge,social_media,cross_industry,financing,insurance
count,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000,3757.000000
mean,0.320735,0.195901,0.562151,1.056694,0.717061,0.719989,0.832579,0.999468,1.242215,0.718392,0.719457,0.781208,0.791323,0.758850,0.634017,0.748470,0.543253,0.499601,0.625233
std,0.966493,1.009779,0.921974,0.811086,0.930239,0.970742,0.970504,0.854107,0.768382,0.875665,0.876007,0.859414,0.859142,0.843998,0.931603,0.867608,0.958431,0.975915,0.909998
min,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
75%,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [81]:
df_1.mean()

score            92.931585
age_n             3.248516
age_random       39.299514
education         1.170349
highschool        0.864253
university        0.288528
graduate          0.017567
tenure_n          4.725678
tenure_random    16.000000
staff_n           1.740217
staff_random      2.557337
license           0.793186
ask_electric      1.086980
m_new_n           1.909380
m_new_random      7.676479
m_fix_n           4.235852
m_fix_random     52.138936
area_n            0.389673
area_m            0.233963
area_s            0.338834
area_e            0.026085
area_i            0.001065
type_g            0.973383
type_e            0.666755
brand1            0.265371
brand2            0.217195
brand3            0.335108
brand4            0.001863
brand5            0.011978
brand6            0.030077
brand7            0.036199
brand8            0.010913
dtype: float64

In [82]:
df_2.mean()

knowledge               1.449295
skill                   1.428267
question                1.432526
atmosphere              1.420814
structure               1.319138
difficulty              1.263242
practicality            1.277615
hours                   1.250466
train_time              1.252063
train_environment       1.315677
train_administration    1.343359
practical               1.224381
expectation             1.137077
worthy                  1.188182
merit                   1.224913
satisfaction            1.217461
enhance                 1.169284
applicable              1.197232
problem_solve           1.123237
other_field             1.232632
dtype: float64

In [83]:
df_3.mean()

sell_g_less       0.320735
fix_g_less        0.195901
fix_g_upgrade     0.562151
fix_e_upgrade     1.056694
recruit           0.717061
franchise_cost    0.719989
decorate_cost     0.832579
fix_g_lesson      0.999468
fix_e_lesson      1.242215
franchise         0.718392
manage            0.719457
decorate          0.781208
exp_share         0.791323
component         0.758850
charge            0.634017
social_media      0.748470
cross_industry    0.543253
financing         0.499601
insurance         0.625233
dtype: float64

In [147]:
df_all.groupby('area')['score'].describe()

          count       mean        std   min   25%    50%    75%    max
area
e          98.0  89.602041  12.528516  38.0  84.0   94.0  100.0  100.0
i           3.0  96.666667   5.773503  90.0  95.0  100.0  100.0  100.0
m         875.0  92.708571   8.985157  24.0  90.0   96.0   98.0  100.0
n        1463.0  93.548872   8.369962  28.0  92.0   96.0  100.0  100.0
s        1240.0  92.898387   9.776320  16.0  90.0   96.0  100.0  100.0
unknown    37.0  80.378378  16.287949  34.0  76.0   82.0   92.0  100.0

In [139]:
print(df_all.corr()['age_n'].sort_values(ascending=False)[:10], '\n')
print(df_all.corr()['age_n'].sort_values(ascending=True)[:10])

age_n            1.000000
age_random       0.932190
tenure_n         0.732304
tenure_random    0.711085
license          0.157705
fix_g_less       0.090723
fix_g_upgrade    0.079227
sell_g_less      0.072007
enhance          0.042841
worthy           0.042725
Name: age_n, dtype: float64

education        -0.436148
highschool       -0.361038
university       -0.360674
staff_n          -0.187131
staff_random     -0.146873
component        -0.144179
cross_industry   -0.132117
social_media     -0.130032
type_e           -0.119991
charge           -0.103210
Name: age_n, dtype: float64

In [144]:
df_13 = pd.merge(df_1.iloc[:, :8], df_3, how = 'outer')

In [145]:
print(df_13.corr()['age_n'].sort_values(ascending=False)[:10], '\n')

age_n             1.000000
age_random        0.931940
fix_g_less        0.087697
fix_g_upgrade     0.078989
sell_g_less       0.067753
recruit           0.025266
franchise_cost    0.022152
fix_e_upgrade     0.019210
decorate_cost     0.007640
score            -0.026755
Name: age_n, dtype: float64